<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<meta charset="UTF-8">
	<head th:block th:fragment="import-css">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.13/css/jquery.dataTables.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/select2/4.0.0/dist/css/select2.min.css}"/>
		<style type="text/css">
			.clickleable {
				cursor: pointer;
				margin: 15px 0;
			}
			.select2-container {
				width: 100% !important;
				padding: 0;
			}
		</style>
	</head>
	<head th:block th:fragment="import-print-css">
		<link rel="stylesheet" type="text/css" th:href="@{/print.min.css}"/>
	</head>
</html>