<html xmlns:th="http://www.thymeleaf.org" lang="es">
<meta charset="UTF-8">
	<th:block th:fragment="import-toast">
		<!-- toasts (avisos) -->
		<div class="toast-container position-absolute top-0 end-0 p-3">
			<div id="toast-info" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<strong class="me-auto">Información</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body"></div>
			</div>
		</div>
	</th:block>
</html>