<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Desuscripción</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" th:href="@{/images/common/favicon.png}" type="image/x-icon">
</head>
<body>
    <div class="container-fluid h-100 animate__animated animate__fadeIn">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div id="card-login-general" class="col-xl-4 mx-auto">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-12">
                                     <strong>Desde ahora no se enviarán más notificaciones a la dirección de correo electrónico '<span th:text="${email_desuscrito}"></span>'</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>